<!--The whole content below can be removed with the new code.-->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/">wuja-seed</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sometest">sometest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/someother">someother</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row no-gutters">
    <div class="col-lg">
      <!--<app-test1></app-test1>-->
      what
    </div>
    <div class="col-lg">
      <!--<app-test2></app-test2>-->
      <!--<h4>welcome doctor shim</h4>-->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



